.container {
  width: 100%;
  position: fixed;
  bottom: 0;

  height: 65px;
  background: #ffffff;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  width: 345px;
}
