.container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.provider,
.contact {
  font-size: 12px;
  font-weight: normal;
  color: #999999;
  line-height: 15px;
}
