page {
  --nutui-tabbar-active-color: #c82248;
  --nutui-brand-color: #c82248;
  --nutui-brand-color-end: #c82248;

  --nutui-noticebar-line-height: 35px;
  --nutui-noticebar-line-height: 35px;

  --nutui-popup-border-radius: 8px;

  --nutui-checkbox-label-font-size: 12px;

  View,
  Text {
    box-sizing: border-box !important;
  }

  .nut-checkbox__icon {
    color: #f39e15;
  }
}
